.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.subtitle {
  font-size: 1.1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.carouselImage {
  position: absolute;
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  border-radius: 12px;
}

.carouselImage.active {
  opacity: 1;
}
